<div class="container">  
  <img src="{{image_path}}" alt="Notebook" style="width:140%;">
  <div class="content">  
    <img  src="../../assets/Images/Home.png" style="margin-left: 390px;">
    <h1>ONLINE LAB RESERVATION PORTAL</h1>
    <p>Feel free to reserve your space with us</p>
      <tr>
        <th>
         <button type="button" class="btn btn-default navbar-btn signup" (click)="showSignUp();">Sign up</button>
        </th>
        <th>
          <button type="button" class="btn btn-default navbar-btn Loggin login"   (click)= "showLogin();">Login</button>
        </th>         
    </tr>
  </div>
</div>