<div class="grid-holder">
    <div class="grid-container">
       <div>
         <img src="../../assets/Images/logo.png">
       </div>
       <h1>Online Lab Reservation System</h1>
   </div>
  </div>

<div class="row">
<div class="col-3">
  <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span>
        Lab A
      </li>
      <li class="list-group-item">
          <span class="badge">14</span>
          Lab B
        </li>
        <li class="list-group-item">
            <span class="badge">14</span>
            Lab C
          </li>
          <li class="list-group-item">
              <span class="badge">14</span>
              Lab D
          </li>
          <li class="list-group-item">
              <span class="badge">14</span>
              3rd Year Lab
          </li>
          <li class="list-group-item">
              <span class="badge">14</span>
              4th Year Lab
          </li>
          <li class="list-group-item">  
              <span class="badge">14</span>
              Masters Lab
          </li>
    </ul>
</div>
<div class="col-9">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption0">
              <img class="caption0img" src="../../assets/Images/reserved.png" >
            <h3>Lab Reservation</h3>
            <p><a href="#" class="btn btn-primary" role="button">Reserve +</a> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption1">
                <img src="../../assets/Images/success.png" class="caption1img">
              <h3>Check Reserved Lab</h3>
              <p><a href="#" class="btn btn-primary" role="button">Available +</a></p>
            </div>
          </div>
        </div>
    </div>
</div>
</div>