<div class="container">
  <div class="jumbotron">
    <h1 class="display-3" style="color: rgb(44, 151, 49);; font-family: serif">Book a Lab Here..!</h1>
    <p class="lead" style="font-family: serif;">Go to a pertucular Lab card and do your reservation.. check availability before the reservation</p>
    <hr class="my-4">
    <p></p>
    
    <div class="row">
    <div class="col-sm">
      <div class="card border-primary mb-3" style="width: 400px; border-width:2px;height: 250px;">
        <div class="card-header" style="background-color: rgb(67, 179, 76);">Lab A Reservations</div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <tr>
            <th>
          <img src="../../assets/Images/labA.jpg" style="width:200px; height:150px;">
          </th>
          <th>
            <ul>
              <span class="glyphicon glyphicon-calendar"></span>
              <a href="/admin"> check availability</a>
            </ul>
            <ul>
              <span class="glyphicon glyphicon-map-marker"></span>
              1st floor
            </ul>
          </th>
          </tr>
          <button type="button" class="btn btn-success" (click)="directLabA();">
            <span class="glyphicon glyphicon-pencil"></span>
            Reserve here
          </button>
        </div>
      </div>
      <div class="card border-secondary mb-3" style="width: 400px; border-width:2px;height: 250px;">
        <div class="card-header" style="background-color: rgb(67, 179, 76);">Lab B Reservations</div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <tr>
            <th>
          <img src="../../assets/Images/lab b.jpeg" style="width:200px; height:150px;">
          </th>
          <th>
              <ul>
                <span class="glyphicon glyphicon-calendar"></span>
                <a href="/admin"> check availability</a>
              </ul>
              <ul>
                <span class="glyphicon glyphicon-map-marker"></span>
                1st floor
              </ul>
            </th>
          </tr>
          <button type="button" class="btn btn-success" (click)="directLabA();">
              <span class="glyphicon glyphicon-pencil"></span>
              Reserve here
            </button>
        </div>
      </div>
      <div class="card border-success mb-3" style="width: 400px; border-width:2px;height: 250px;">
        <div class="card-header" style="background-color: rgb(67, 179, 76);">Lab C Reservations</div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <tr>
            <th>
          <img src="../../assets/Images/labc.jpg" style="width:200px; height:150px;">
          </th>
          <th>
              <ul>
                <span class="glyphicon glyphicon-calendar"></span>
                <a href="/admin"> check availability</a>
              </ul>
              <ul>
                <span class="glyphicon glyphicon-map-marker"></span>
                1st floor
              </ul>
            </th>
        </tr>
          <button type="button" class="btn btn-success" (click)="directLabA();">
              <span class="glyphicon glyphicon-pencil"></span>
              Reserve here
            </button>
        </div>
      </div>
      </div>
      <div class="col-sm">
      <div class="card border-danger mb-3" style="width: 400px; border-width:2px;height: 250px;">
        <div class="card-header" style="background-color: rgb(67, 179, 76);">Lab D Reservations</div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <tr>
            <th>
          <img src="../../assets/Images/lab d.jpg" style="width:200px; height:150px;">
        </th>
        <th>
            <ul>
              <span class="glyphicon glyphicon-calendar"></span>
              <a href="/admin"> check availability</a>
            </ul>
            <ul>
              <span class="glyphicon glyphicon-map-marker"></span>
              1st floor
            </ul>
          </th>
        </tr>
          <button type="button" class="btn btn-success" (click)="directLabA();">
              <span class="glyphicon glyphicon-pencil"></span>
              Reserve here
            </button>
        </div>
      </div>
      <div class="card border-warning mb-3" style="width: 400px; border-width:2px;height: 250px;">
        <div class="card-header" style="background-color: rgb(67, 179, 76);">3Rd Year Lab Reservations</div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <tr>
            <th>
          <img src="../../assets/Images/lab e.jpg" style="width:200px; height:150px;">
        </th>
          <th>
            <ul>
              <span class="glyphicon glyphicon-calendar"></span>
              <a href="/admin"> check availability</a>
            </ul>
            <ul>
              <span class="glyphicon glyphicon-map-marker"></span>
              1st floor
            </ul>
          </th>

        </tr>
          <button type="button" class="btn btn-success" (click)="directLabA();">
              <span class="glyphicon glyphicon-pencil"></span>
              Reserve here
            </button>
        </div>
      </div>
      <div class="card border-info mb-3" style="width: 400px; border-width:2px;height: 250px;">
        <div class="card-header" style="background-color: rgb(67, 179, 76);">4Th Year Lab Reservations</div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <tr>
            <th>
          <img src="../../assets/Images/lab f.jpg" style="width:200px; height:150px;">
        </th>
        <th>
            <ul>
              <span class="glyphicon glyphicon-calendar"></span>
              <a href="/admin"> check availability</a>
            </ul>
            <ul>
              <span class="glyphicon glyphicon-map-marker"></span>
              1st floor
            </ul>
          </th>
        </tr>
          <button type="button" class="btn btn-success" (click)="directLabA();">
              <span class="glyphicon glyphicon-pencil"></span>
              Reserve here
            </button>
        </div>
      </div>
    </div>
  </div>   
</div>